version 5.193.0

source https://nuget.yjpark.org/nuget/dap
source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Argu
nuget MonoGame.Content.Builder
nuget MonoGame.Framework.DesktopGL
nuget Myra
nuget Comora
nuget TiledSharp

nuget Dap.Context
nuget Dap.Local

# Build
nuget Dap.Build
